# Cuenta Gmail que ENVÍA los correos (usar una "contraseña de aplicación")
GMAIL_USER=
GMAIL_APP_PASSWORD=
# Destino de los testimonios (por defecto: rivasvaras.multimedia@gmail.com)
TESTIMONIOS_TO=rivasvaras.multimedia@gmail.com
