@font-face {
  font-family: 'Chucara';
  src: url('Chucara-Regular.eot'); /* IE9 Compat Modes */
  src: url('Chucara-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Chucara-Regular.woff') format('woff'), /* Modern Browsers */
       url('Chucara-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Chucara-Regular.svg#6dc739d53dfa38f1fbc56f353d69d076') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Chucara';
  src: url('Chucara-Italic.eot'); /* IE9 Compat Modes */
  src: url('Chucara-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Chucara-Italic.woff') format('woff'), /* Modern Browsers */
       url('Chucara-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Chucara-Italic.svg#4a79ccc6c71b93867b7a10ba1c16dd7c') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

